<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
    
    <!--Copy from this point onwards -->
        <header>
            <nav>
                <div class="left-buttons">
                    <li>
                        <ul>Fitness</ul>
                        <ul>Healthy Living</ul>
                        <ul>Workouts</ul>
                    </li>
                </div>

                <div class="centre-nav">
                    <img href="/assets/logo.png">
                </div>

                <div class="right-buttons">
                    <li>
                        <ul>Contact</ul>
                        <ul>About</ul>
                        <ul class="account-button">Sign In</ul>
                    </li>
                </div>
            </nav>

        </header>

    

    <!--Stop copying here-->

    </body>
</html>
